.brand-container__image {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 30px;
}

.brand-adl__image {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  width: 3rem;
  height: 3rem;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*------------------------------------*/
.bootstrap-post__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 300px;
  padding: 10px;
  border-radius: 50px;
}
/*------------------------------------*/
.cards-container__image {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}
/*------------------------------------*/
.novedades__image {
  width: 50%;
  height: 300px;
  border-radius: 15px;
}
