/* Footer */
.footer {
  width: auto;
  height: 30 px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: larger;
  display: flex;
  align-items: center;
  border-top: 1px solid #00000033;
}

.footer__icon {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer__title {
  padding-left: 20px;
  
}
.footer__end {
  display: inline;
  margin-left: 500px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: regular;
}
