.bootstrap-post-container {
  justify-content: center;
  padding: 1rem;
  margin: 4rem;
  background-color: rgba(239, 229, 229, 0.539);
  border-radius: 10px;
}

.brand-adl {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
/*------------------------------------*/
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  margin: 4rem;
}
.cards-container {
  width: 50%;
  background-color: white;
  text-align: center;
  margin: 20px;
}

/*------------------------------------*/

/* Contenedor Novedades */

.novedades {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #00000033;
}

.novedades__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}
.post {
  display: flex;
  align-items: center;
  padding-right: 20px;
  margin-bottom: 10px;
  height: 200px;
}
.post__img {
  width: 225px;
  height: 150px;
  border-radius: 15px;
}

.post__content {
  flex: 1;
  margin-left: 20px;
}
/* Contenedor Populares */
/*------------------------------------*/
.populares-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
  background-color: #f7e018;
  margin: 30px;
}
.populares-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  width: 20%;
  height: 20%;
  background-color: #e93e30;
  margin: 10px;
}

.card__date {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.card__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: medium;
  text-align: left;
}
.populares-card__image {
  height: 200px;
}

/* Tarjetas Categorias */

.populares__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-left: 80px;
  padding-right: 20px;
}
.card_1--color {
  background-color: #e93e30;
  width: 300px;
  height: 90px;
  border-radius: 10px;
  margin: 15px;
}
.card_2--color {
  background-color: #f7e018;
  width: 300px;
  height: 90px;
  border-radius: 10px;
  margin: 15px;
}
.card_3--color {
  background-color: #299ed5;
  width: 300px;
  height: 90px;
  border-radius: 10px;
  margin: 15px;
}
.card_4--color {
  background-color: #292c33;
  width: 300px;
  height: 90px;
  border-radius: 10px;
  margin: 15px;
}
.card_5--color {
  background-color: #67c770;
  width: 300px;
  height: 90px;
  border-radius: 10px;
  margin: 15px;
}

.card_6--color {
  background-color: #563d7c;
  width: 300px;
  height: 90px;
  border-radius: 10px;
  margin: 15px;
}

.texto {
  display: inline;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 30px;
  margin-left: 110px;
  margin-top: 30px;
}

.texto-1 {
  color: #ffffff;
  display: inline;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 30px;
  margin-left: 30px;
}

.marcas {
  width: 70px;
  margin-top: 10px;
  margin-left: 10px;
}
/* HOME SECTION */
.home-section {
  display: flex;
  border-bottom: 1px solid #00000036;
}
.div-60 {
  width: 60%;
  display: flex;
  flex-direction: column;
}
/* div 40 */
.div-40 {
  width: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* BLOG CARDS CONTAINER - VERTICAL */
.blog-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 300px;
  margin: 1rem;
}
.card-container__image {
  background-color: gray;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}
.card-information-container {
  display: flex;
  flex-direction: column;
}
.author-information-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.author-information-container__image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
/* BIG - BLOG CARDS CONTAINER */
.card-container-big {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
.card-container__image-big {
  background-color: gray;
  height: 30rem;
  border-radius: 10px;
  object-fit: cover;
}
/* BLOG CARDS CONTAINER - HORIZONTAL */
.card-container-horizontal {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
}
.card-container__image-horizontal {
  background-color: gray;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}
.card-information-container-horizontal {
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: space-between;
}

/* TECNOLOGY CARDS CONTAINER */
.technology-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.technology-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 0.5rem;
  border-radius: 10px;
}
.technology-card__image {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.technology-card__text {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

/* MODIFICADORES */
.technology-card--light-blue {
  background-color: #2a9ed5;
}
.technology-card--yellow {
  background-color: #d5d22a;
}
.technology-card--red {
  background-color: #d52a2a;
}
.technology-card--black {
  background-color: #000000;
}
.technology-card--green {
  background-color: #2ad563;
}
.technology-card--purple {
  background-color: #6e2ad5;
}

.suscripcion {
  margin-left: 80px;
  margin-right: 80px;
  background-color: rgba(42, 174, 47, 0.907);
  border-radius: 10px;
  height: 150px;
  margin-bottom: 20px;
}
.suscripcion-container {
  text-align: left;
  margin: 20px;
  padding: 30px;
  margin-left: 100px;
}

.suscripcion-text {
  color: white;
}
.suscripcion-input {
  border-radius: 10px;
  border: 1px solid #00000033;
  margin-top: 10px;
  height: 50px;
  width: 600px;
}

.suscripcion-button {
  border-radius: 10px;
  border: 1px solid #00000033;
  height: 50px;
  width: 200px;
  margin-left: 50px;
}
a {
  text-decoration: none;
  color: #000000;
}
