.bootstrap-post-container {
  justify-content: center;
  padding: 1rem;
  margin: 4rem;
  background-color: rgba(239, 229, 229, 0.539);
  border-radius: 10px;
}

.brand-adl {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
/*----------HOME--------------*/

